#pokemonListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 18px; 
    padding: 20px;
}

.pokemon-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-name {
    font-weight: bold;
    font-size: 1.1em;
    color: green;
    cursor: pointer;
    text-decoration: none;
}

.pokemon-details {
    margin-top: 10px;
    font-size: 0.9em;
    color: blue;
}


body {
    font-family: Arial, sans-serif;
    background-color: yellow;
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
    color:red
}
h2{
    color:cadetblue
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



h3, h4{
    color:black
}


.teamList img {
    width: 100%;
    height: auto;
    max-width: 300px;      /* Limit maximum width */

    border-radius: 8px;
}

.pokemon-item img {
    width: 100%;
    height: auto; 
    max-width: 300px;      /* Limit maximum width */

    border-radius: 12px; 
}

#imageteam{
    width: 100%;
    height: auto; 
    max-width: 300px;      /* Limit maximum width */

    border-radius: 12px; 
}

#imagesearch{
    width: 100%;
    height: auto; 
    max-width: 300px;      

    border-radius: 12px; 
}

button{
    background-color: orange;
    border-color: black;
}