/* Container for the Pokémon list */
#pokemonListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive grid */
    gap: 16px; /* Space between items */
    padding: 20px;
}

/* Each Pokémon item */
.pokemon-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Pokémon name and button styles */
.pokemon-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

/* Show details with some margin when expanded */
.pokemon-details {
    margin-top: 10px;
    font-size: 0.9em;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.teamList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 0;
    list-style-type: none;
}

.teamList h3 {
    margin: 10px 0 5px;
}

.teamList img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.pokemon-item img {
    width: 100%;
    height: auto; 
    border-radius: 12px; 
}

#imageteam{
    width: 100%;
    height: auto; 
    border-radius: 12px; 
}

#imagesearch{
    width: 100%;
    height: auto; 
    border-radius: 12px; 
}